.titlebar{
  background-color : maroon;
  display : block;
  color: whitesmoke;
  font-family: "Lucida Bright";
  padding-left: 40px
  
}

.wrapper-login-container{
  border-radius: 25px;
  border: 2px solid maroon;
  padding: 20px;
  width: 200px;
  height: 150px;
  box-shadow: 10px 10px 5px grey;
  margin : auto;
  margin-top: 150px;

}

.home-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: -45.5px;
}

.home-parent{
  height : 100%;
}

#root{
  height: 100%;
}

.label{
  font-family: "Lucida Bright";
  text-align: left;
}

.error-message{
  font-family: "Lucida Bright";
  font-weight: bold;
  color: maroon;
}


.App {
  text-align: center;
  height: 100%;
}

html, body {
  height: 100%;
}

